= form_for @mock do |f|
  - if @mock.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mock.errors.count, "error")} prohibited this mock from being saved:"
      %ul
        - @mock.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :image
    = f.hidden_field :image_cache
    = f.file_field :image
  .actions
    = f.submit 'Save'
