%h1 Listing mocks

%table
  %tr
    %th Creator
    %th Url
    %th
    %th
    %th

  - @mocks.each do |mock|
    %tr
      %td= mock.creator_id
      %td= mock.url
      %td= link_to 'Show', mock
      %td= link_to 'Edit', edit_mock_path(mock)
      %td= link_to 'Destroy', mock, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mock', new_mock_path
