%p#notice= notice

%p
  = image_tag @mock.image.url

%p
  %b Posted by
  = @mock.creator.email

= render 'comments/form'

- if @mock.comments.any?
  %ul
    - @mock.comments.each do |comment|
      %li= comment.body
