%p
  = image_tag @mock.image.url

%p
  %b Posted by
  = @mock.creator.email

= render 'comments/form'

- if @mock.comments.any?
  %ul.comments-list
    - @mock.comments.each do |comment|
      %li
        .time
          Posted
          = distance_of_time_in_words_to_now comment.created_at
          ago
        %strong
          = comment.author.name
        %p
          = comment.body
